/* common */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* debug */
main [class^="col"] {
    background-color: pink;
    border: 1px solid black;
    height: 200px;
}
[class^="col"]{
    position: relative;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer{
    background-color: pink;
}
   
/* Colonne */
.col{
    flex-grow: 1;
    max-width: 100%;
    height: 200px;
}
    
/* Colonne */
.col_1{
    width: calc((100% / 12) * 1);
}
.col_2{
    width: calc((100% / 12) * 2);
}
.col_3{
    width: calc((100% / 12) * 3);
}
.col_4{
    width: calc((100% / 12) * 4);
}
.col_5{
    width: calc((100% / 12) * 5);
}
.col_6 {
    width: calc((100% / 12) * 6);
}
.col_7{
    width: calc((100% / 12) * 7);
}
.col_8{
    width: calc((100% / 12) * 8);
}
.col_9{
    width: calc((100% / 12) * 9);
}
.col_10{
    width: calc((100% / 12) * 10);
}
.col_11{
    width: calc((100% / 12) * 11);
}
.col_12{
    width: calc((100% / 12) * 12);
}
/* offset */

.col_offset_1{
    margin-left: calc((100% / 12) * 1);
}
.col_offset_2 {
    margin-left: calc((100% / 12) * 2);
}
.col_offset_3 {
    margin-left: calc((100% / 12) * 3);
}
.col_offset_4 {
    margin-left: calc((100% / 12) * 4);
}
.col_offset_5 {
    margin-left: calc((100% / 12) * 5);
}
.col_offset_6 {
    margin-left: calc((100% / 12) * 6);
}
.col_offset_7 {
    margin-left: calc((100% / 12) * 7);
}
.col_offset_8 {
    margin-left: calc((100% / 12) * 8);
}
.col_offset_9 {
    margin-left: calc((100% / 12) * 9);
}
.col_offset_10 {
    margin-left: calc((100% / 12) * 10);
}
.col_offset_11 {
    margin-left: calc((100% / 12) * 11);
}

/* Utility */

.bord_blk{
    border: 1px solid black;

}
/* background */


/* color */