/* main */
p{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
[class^="col"]{
    height: 100%;
    position: relative;
}
[class^="col_nest"] {  
    height: 100%;

}
/* background */
[class^="col"] {
    background-color: #FFC0CB;
    border: 1px solid black;
}
[class^="col_nest"] {
    background-color: #F07F80;
    border: 1px solid white;
}
/* Utility */
.flex{
    display: flex;
}
.row_nest{
    display: flex;
    padding: 5px;
}